<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>color live</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=IE8">
    <link rel="stylesheet" type="text/css" href="./css/base.css"/>
    <link rel="stylesheet" type="text/css" href="./css/common.css"/>
    <link rel="stylesheet" type="text/css" href="./css/userPage.css"/>
    <link rel="stylesheet" type="text/css" href="./css/myWrap.css"/>
    <link rel="stylesheet" type="text/css" href="./css/analysisWrap.css"/>
    <link rel="stylesheet" type="text/css" href="./css/vsWrap.css"/>
    <link rel="stylesheet" type="text/css" href="./css/swiper.min.css"/>
    <script src="./js/jquery-1.11.3.min.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/swiper.js"></script>
    <script src="./js/vue.min.js"></script>

</head>

<body>

<div class="wrap fh100">
<article class="pageWrap swiper-container fh100" id="colorlivePage" >
    <a class="arrow-top"></a>
    <div class="swiper-wrapper">
            <!--s：page1-->
            <section class="page swiper-slide user-page">
                <div class="pageTop height618" :style="{backgroundRepeat:'no-repeat',backgroundImage:result.backgroundImage,backgroundSize:'100% 100%'}">

                    <div class="mask" v-if="result.isMasking"></div>
                    <div class="date">
                        <p class="day" v-cloak>{{result.time_day}}</p>
                        <p class="dateType" v-cloak>{{result.time_moon | moonToStr}}</p>
                        <p class="year" v-cloak>{{result.time_day}}</p>
                    </div>
                    <div class="userwrap">
                        <div class="userinfo">

                        <p class="img"><img :src="result.headImage" class="bd-radius-per-50"></p>
                        <p class="name" v-cloak>{{result.userName}}</p>
                        <p v-cloak>{{result.userAge}}.{{result.userSex}}.{{result.userSeat}}.{{result.userJob}}</p>
                        </div>
                    </div>
                </div>
                <div class="pageBottom">
                    <p class="title" v-cloak>{{result.messageName}}</p>
                    <p class="tc colorbg"><img :src="result.seDaiImage" ></p>
                    <p class="tc pt10"><img :src="result.mianEventLabel | getLabel"></p>
                </div>
            </section>
            <!--e：page1-->

             <!--s：page2 我的一天-->
            <section class="page swiper-slide my-wrap ">
                <div class="pageTop height382 labelGroup-wrap" data-istext="true">
                    <div class="mask"></div>
                    <ul class="labelGroup">
                        <li v-for="item in natureLabelArray" v-cloak>{{item}}</li>
                    </ul>
                    <canvas height="100%" width="100%" class="canvas"></canvas>
                    <div class="img bd-radius-per-50 labelCenter">
                        <img src="./images/def.jpg">
                    </div>
                    <div class="RectTitle">我的一天</div>
                </div>
                <div class="pageBottom height618 labelGroup-wrap">
                    <canvas height="100%" width="100%" class="canvas"></canvas>
                    <ul class="labelGroup">
                            <li class="center labelCenter">
                                <p class="img"><img :src="mainEvent.mianEvent_label|getLabel"></p>
                                <p class="title" v-cloak>{{mainEvent.mianEvent_incident}}:<span>{{Math.floor(mainEvent.mianEvent_time/24*100)}}</span>%</p>
                            </li>

                            <li v-for="item in eventArray" :class="getClass($index)"  data-angle={{getAngle($index)}} >
                                <p class="img" ><img :src="item.event_label|getLabel"></p>
                                <p class="title" v-cloak>{{item.event_incident}}:<span>{{Math.floor(item.event_time/24*100)}}</span>%</p>
                            </li>


                    </ul>   
                </div>
            </section>
            <!--e：page2 我的一天-->

             <!--s：page3 自我分析-->
            <section class="page swiper-slide analysis-wrap">
                <div class="pageTop height382">
                    <div class="RectTitle">自我分析</div>
                </div>
                <div class="pageBottom">
                    <ul class="text-group ">
                        <li v-for="item in eventMessageArray">
                         <div class="info-wrap">
                            <p class="img"><img :src="item.event_label|getLabel"></p>
                            <p class="title" v-cloak>{{item.eventDescribe}}</p>
                            <p v-cloak>{{item.eventTime}}</p>
                        </div>
                        <div class="text" v-cloak>{{item.eventAlldescribe}}
                        </div>
                    </li>
                    </ul>
                </div>
            </section>
            <!--e：page3 自我分析-->

             <!--s：page4 同行,同城,全国比较-->
            <section class="page swiper-slide vs-wrap" v-for="item in eventComparyArray">
                <div class="pageTop height618">
                    <div class="mask"></div>
                    <div class="RectTitle"  v-cloak>看看{{$index==0?'同行':($index==1?'同城':'全国')}}</div>
                    <ul class="vs-wrap">
                        <li class="vs-img">
                            <div class="img bd-radius-per-50">
                                <img :src="result.headImage">
                            </div>
                        </li>
                        <li class="vs-space">vs</li>
                        <li class="vs-text bd-radius-per-50" v-cloak>{{$index==0?'同行':($index==1?'同城':'全国')}}</li>
                    </ul>
                    <div class="vs-process-wrap">
                        <p class="process-wrap"> <span class="process" style="width:{{item.time/24*100}}%;"></span></p>
                        <p class="vs-process-text" v-cloak><span>{{item.time}}h</span> <span  class="fr">{{item.allTime}}h</span></p>
                    </div>
                    <p class="vs-result op9"  v-cloak>数据来自于 {{item.dataFrom}} 位全国的小伙伴</p>
                </div>
                <div class="pageBottom">
                    <p class="title"  v-cloak>{{item.descripe}}</p>
                    <p class="text"  v-cloak>{{item.message}}</p>
                </div>
            </section>
            <!--e：page4 同行比较-->


    </div>
</article>
</div>

</body>
</html>