.analysis-wrap .RectTitle{
	top:50%;
	margin-left:-1.8rem;
	margin-top:-4.8rem;
	left:50%;
}
.analysis-wrap .info-wrap .title{
	font-size: 1.6rem
}
.analysis-wrap  .info-wrap img{
	height:2rem;
}
.analysis-wrap  .text-group li{
	display: inline-block;
	margin:1rem;
}
.analysis-wrap .info-wrap .img{
	line-height: 2rem;
	padding-top: 2rem;
}
.analysis-wrap .info-wrap{
	height: 10rem;
	width: 10rem;
	background-size: 100% 100%;
	color:#fff;
	text-align: center;
	margin: 0 auto;

	line-height: 2rem;
	background-image: url(../images/circleBg.png);
	background-repeat: no-repeat;
}
@media screen and (max-width: 450px){
	.analysis-wrap .info-wrap{
		height: 8rem;
		width: 8rem;
		line-height: 1.6rem;
	}
	.analysis-wrap .info-wrap .img {
		padding-top: 1rem;
	}
	.analysis-wrap .text-group li {
		margin: 0rem;
	}
}
.analysis-wrap .text-group li{
	font-size: 1.2rem;
	vertical-align: top;
}
.analysis-wrap .text-group{
	text-align: center;
}
.analysis-wrap .text{
	width: 3rem;
	text-align: left;
	line-height: 1.5rem;
	color: #000;
	height: 12rem;
	margin: 0 auto;
	writing-mode: tb-rl;
	-ms-writing-mode: tb-rl;
	-webkit-writing-mode: tb-rl;
}